body {
    max-width: 1400px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: black;
    font-family: 'Montserrat', 'sans-serif';
    font-family: 'Inkulinati', arial;
}


@font-face {
    font-family: 'Inkulinati210706-Regular';
    src: url('/fonts/inkulinati210706-regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('fonts/inkulinati210706-regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('fonts/inkulinati210706-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/inkulinati210706-regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('fonts/inkulinati210706-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/inkulinati210706-regular.svg#inkulinati210706-regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}


.container {
    align-items: center;
    text-align: center;
}

.header-line {
    width: auto;
    align-items: center;
    background-color: black;
}


.header-logo {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inkulinati210706-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    padding: 10px;
}

.horizontal-video {
    display: flex;
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

.vid1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.vertical-video {
    display: flex;
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}





.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 60px;
}

.vid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.right-block-container {
    color: #FF5C00;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}








.strip {

    text-align: center;
    display: flex;
    overflow: hidden;
    width: auto;
    justify-content: center;
    background-color: orangered;

}

.striptext {
    flex: none;
    font-size: 24px;
    color: white;
    padding: 20px;
    font-family: 'Inkulinati210706-Regular'
}










@media screen and (max-width: 390px) {
.vertical-video {
        display: block;
    }

    .horizontal-video {
        display: none;
    }

    .main-block {
        display: block;
        margin: 100px 20px;
        text-align: center;
    }


    .vid {
        display: flex;
        width: 350px;
        height: 350px;

    }


    .right-block-container {
        font-size: 16px;
    }
}

@media screen and (min-width: 390px) {
.vertical-video {
        display: block;
    }

    .horizontal-video {
        display: none;
    }

    .main-block {
        display: block;
        margin: 100px 20px;
        text-align: center;
    }


    .vid {
        display: flex;
        width: 350px;
        height: 350px;

    }


    .right-block-container {
        font-size: 16px;
    }

}

@media screen and (min-width: 600px) {
    .vertical-video {
        display: block;
    }

    .horizontal-video {
        display: none;
    }

    .main-block {
        display: block;
        margin: 100px 30px;
        text-align: center;
    }

    .vid {
        display: flex;
        width: 369px;
        height: 369px;

    }

    .right-block-container {
        font-size: 20px;
    }




}

@media screen and (min-width: 768px) {

    .vertical-video {
        display: none;
    }

    .horizontal-video {
        display: block;
    }

    .main-block {
        display: block;
        margin: 100px 30px;
        text-align: center;
    }

    .vid {
        display: flex;
        width: 465px;
        height: 465px;

    }

    .right-block-container {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    .vertical-video {
        display: none;
    }

    .horizontal-video {
        display: block;
    }


    .main-block {
        display: flex;
        margin: 100px 30px;
        text-align: left;
    }

    .vid {
        display: flex;
        width: 465px;
        height: 465px;

    }

    .right-block-container {
        font-size: 20px;
    }


}

@media screen and (min-width: 1200px) {

    .vertical-video {
        display: none;
    }

    .horizontal-video {
        display: block;
    }

    .main-block {
        display: flex;
        margin: 100px 60px;
        text-align: left;
    }

    .vid {
        display: flex;
        width: 465px;
        height: 465px;

    }

    .right-block-container {
        font-size: 24px;
    }
}
