body {
   
    max-width: 1400px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: black;
    font-family: 'Montserrat', 'sans-serif';
    font-family: 'Inkulinati', arial;
}


@font-face {
    font-family: 'Inkulinati210706-Regular';
    src: url('/fonts/inkulinati210706-regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('fonts/inkulinati210706-regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('fonts/inkulinati210706-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/inkulinati210706-regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('fonts/inkulinati210706-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/inkulinati210706-regular.svg#inkulinati210706-regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}


.container {
    align-items: center;
    text-align: center;
}

.header-line {
    width: auto;
    align-items: center;
    background-color: black;
}


.header-logo {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inkulinati210706-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    padding: 10px;
}


.VidContainer {}

video {
    width: 100%;
    height: auto;
}




.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 60px;
}


.vid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.right-block-container {
    color: #FF5C00;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}








.strip {

    text-align: center;
    display: flex;
    overflow: hidden;
    width: auto;
    justify-content: center;
    background-color: orangered;

}

.striptext {
    flex: none;
    font-size: 24px;
    color: white;
    padding: 20px;
    font-family: 'Inkulinati210706-Regular'
}












.PhotoContainer {
    margin-top: 50px;
    width: auto;
    /* Задайте желаемую ширину слайдера */
    overflow: hidden;
    padding: 60px;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery span {
    flex: 0 0 auto;
    margin-right: 20px;
    /* Задайте расстояние между слайдами */
}

.gallery img {
    max-width: 100%;
    height: auto;
}










.card {
    max-width: 255px;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: #0C0C0C;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #FF5C00;
}






.MainCardText {
    color: orange;
    text-align: center;
    font-family: 'Inkulinati210706-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

.number {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: Regualr;
    font-weight: 500;
    line-height: normal;
}




.card:hover {
    box-shadow: 0px 0px 50px 0px #9353FF;
}




@media  screen and (max-width: 390px) {
    video.horizontal-video {
        display: none;
    }
    
     video.vertical-video {
        display: block;
    }

    .main-block {
        display: block;
        margin: 100px 20px;
        text-align: center;
    }


    .vid {
        display: flex;
        width: 350px;
        height: 350px;
       
    }


    .right-block-container {
        font-size: 16px;
    }
}

@media screen and (min-width: 390px) {
    video.horizontal-video {
        display: none;
    }

    video.vertical-video {
        display: block;
    }

    .main-block {
        display: block;
        margin: 100px 20px;
        text-align: center;
    }


    .vid {
        display: flex;
        width: 350px;
        height: 350px;
       
    }


    .right-block-container {
        font-size: 16px;
    }

}

@media  screen and (min-width: 600px) {
    
    .main-block {
        display: block;
        margin: 100px 30px;
        text-align: center;
    }

    .vid {
        display: flex;
        width: 369px;
        height: 369px;
        
    }

    .right-block-container {
        font-size: 20px;
    }
    
    video.horizontal-video {
        display: block;
    }

    video.vertical-video {
        display: none;
    }

    
}

@media  screen and (min-width: 768px) {
    video.horizontal-video {
        display: block;
    }

    .main-block {
        display: block;
        margin: 100px 30px;
        text-align: center;
    }

    .vid {
        display: flex;
        width: 465px;
        height: 465px;
        
    }

    .right-block-container {
        font-size: 20px;
    }
}

@media  screen and (min-width: 992px) {
    .main-block {
        display: flex;
        margin: 100px 30px;
        text-align: left;
    }

    .vid {
        display: flex;
        width: 465px;
        height: 465px;
        
    }

    .right-block-container {
        font-size: 20px;
    }

    
}

@media  screen and (min-width: 1200px) {

    .main-block {
        display: flex;
        margin: 100px 60px;
        text-align: left;
    }

    .vid {
        display: flex;
        width: 465px;
        height: 465px;
        
    }

    .right-block-container {
        font-size: 24px;
    }
}
